/* src/styles.css */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0b0f0c; /* Dein dunkles Terminal-Schwarz als Seitenhintergrund */
  overflow: hidden; /* Verhindert Scrollbalken */
}

#app {
  width: 100%;
  height: 100%;
  padding: 20px; /* Etwas Abstand zum Bildschirmrand */
  box-sizing: border-box;
}

/* Schaltet die Font-Ligaturen (!= wird zu ≠) im Terminal hart ab */
.xterm {
  font-variant-ligatures: none !important;
}
